{% extends 'base.html' %}

{% block title %}Overtime wage violations {% endblock %}

{% block content %}

    <h1>Columbia businesses that have not paid employees overtime pay</h1>

    <table>

    {% for w in overtime %}
        <tr>

            <td><a href="{% url biz_detail w.id %}">{{ w.trade_nm }}</a></td>
            <td>{{ w.street_addr_1_txt }}</td>
            <td>{{ w.naics_code_description}}</td>
            <td>{{ w.case_violtn_cnt }}</td>
            <td>{{ w.flsa_ot_bw_atp_amt }}</td>

        </tr>
    {% endfor %}

    </table>

{% endblock %}
